<!-- src/app/components/navbar/navbar.component.html -->

<mat-toolbar color="primary">
    <button mat-icon-button (click)="onToggleSidebar()">
      <mat-icon>{{ sidebarOpened ? 'close' : 'menu' }}</mat-icon>
    </button>
    <span class="title">UniNote</span>
    <span class="spacer"></span>
    <button mat-icon-button>
      <mat-icon>search</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon>info</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon>settings</mat-icon>
    </button>
  </mat-toolbar>
  