.form {
  padding: 10px 15px;
  overflow: hidden;
  display:flex;
  flex-direction: column;
  gap:5px;
}

.full-width {
  width: 100%;
}

.dialog-actions {
  display: flex;
  justify-content: flex-end;
}

h2 {
  margin-bottom: 10px; 
  font-size: 20px; 
}

mat-form-field {
  width: 100%;
  margin-bottom: 0;
}
