.sidenav-container {
  height: 100vh;
}

.content {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 64px);
  padding: 16px;
  box-sizing: border-box;
}

.button-group {
  display: flex;
  gap: 16px;
  margin-bottom: 16px;
}

.folder-list {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.folder-item,
.document-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
  width: 200px;
}

.folder-content,
.document-content {
  display: flex;
  align-items: center;
}

.folder-item:hover,
.document-item:hover {
  background-color: #e0e0e0;
}

.custom-icon {
  margin-right: 8px;
  font-size: 32px;
}

.document-container {
  height: 80%;
  margin-top: 16px;
  border-top: 1px solid #ccc;
  padding-top: 16px;
}

.document-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.document-item span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

h3 {
  margin-bottom: 8px;
}

.optionsMenu {
  position: absolute;
  width: auto;
  height: 100px;
  left: 102%;
  top: 0%;
  padding: 10px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 5px;
  flex-direction: column;
  border: 1px solid #ccc;
  background-color: #f9f9f9;

  button {
    background-color: transparent;
    width: 90%;
    padding: 10px;
    display: flex;
    gap: 10px;
    align-items: center;
    border: 0;
    min-width: fit-content;
    transition: all .1s;

    &:hover {
      background-color: lightgray;
      border-radius: 6px;
    }

    span {
      text-align: start;
    }
  }

  .moveToMenu {
    position: absolute;
    width: 90%;
    height: 105px;
    left: 103%;
    top: 0%;
    padding: 10px;
    border-radius: 4px;
    display: flex;
    align-items: flex-start;
    gap: 5px;
    flex-direction: column;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    list-style: none;

    ul {
      margin: 0;
      padding: 0;
      overflow: scroll;
      height: 100%;
      width: 100%;

      li {
        box-sizing: border-box;
        height: 30px;
        background-color: transparent;
        width: 100%;
        padding: 10px;
        display: flex;
        gap: 10px;
        align-items: center;
        border: 0;
        transition: all .1s;
    
        &:hover {
          background-color: lightgray;
          border-radius: 6px;
        }
      }
    }
  }
}