<app-navbar-front></app-navbar-front>

<div class="home-body">
  <div class="content">
    <div class="text-section">
      <h2>Bem-vindo ao UniNote!</h2>
      <p>
        No UniNote, você tem à disposição uma plataforma intuitiva para criar,
        organizar e editar suas notas de maneira prática e rápida. Com a
        possibilidade de criar pastas e documentos personalizados, você consegue
        guardar todas as suas informações em um único lugar, acessível sempre
        que precisar.
      </p>
      <p>
        A ferramenta foi pensada para quem valoriza organização e eficiência nos
        estudos, no trabalho ou nos projetos pessoais. O UniNote permite que
        você crie documentos e anotações detalhadas e organize-as em pastas de
        acordo com suas preferências, garantindo que tudo esteja ao seu alcance.
      </p>
      <p>
        Experimente o UniNote e simplifique a maneira como você organiza suas
        ideias!
      </p>
      <a href="#" class="cta-button">Comece Agora</a>
    </div>
    <div class="image-section">
      <img src="../../../assets/home-img.jpg" alt="Imagem representativa do UniNote">
    </div>
  </div>
</div>