<app-navbar-front></app-navbar-front>

<div class="home-body">
  <div class="content">
    <div class="text-section">
      <h2>Bem-vindo ao UniNote!</h2>
      <p>
        No UniNote, você tem à disposição uma plataforma intuitiva para criar,
        organizar e editar suas notas de maneira prática e rápida. Com a
        possibilidade de criar pastas e documentos personalizados, você consegue
        guardar todas as suas informações em um único lugar, acessível sempre
        que precisar.
      </p>
      <p>
        A ferramenta foi pensada para quem valoriza organização e eficiência nos
        estudos, no trabalho ou nos projetos pessoais. O UniNote permite que
        você crie documentos e anotações detalhadas e organize-as em pastas de
        acordo com suas preferências, garantindo que tudo esteja ao seu alcance.
      </p>
      <p>
        Experimente o UniNote e simplifique a maneira como você organiza suas
        ideias!
      </p>
      <a href="#" class="cta-button">Comece Agora</a>
    </div>
    <div class="image-section">
      <img src="../../../assets/images/home-img.jpg" alt="Imagem representativa do UniNote">
    </div>
  </div>
</div>

<div class="about-body">
  <h1>Conheça nossa Equipe</h1>
  <div class="about-content">
    <div class="team-member">
      <h3>Pedro L. Tunin</h3>
      <p class="member-function">Desenvolvedor Front-end</p>
      <img src="../../../assets/images/member-images/image-pedro.jpg" alt="Pedro">
    </div>
    <div class="team-member">
      <h3>Augusto S. Bortoloti</h3>
      <p class="member-function">Desenvolvedor Front-end</p>
      <img src="../../../assets/images/member-images/image-augusto.jpg" alt="Augusto">
    </div>
    <div class="team-member">
      <h3>Viktor Bonazza</h3>
      <p class="member-function">Desenvolvedor Back-end</p>
      <img src="../../../assets/images/member-images/team-member-test.jpg" alt="Viktor">
    </div>
    <div class="team-member">
      <h3>Caíque P. Delazari</h3>
      <p class="member-function">Documentação</p>
      <img src="../../../assets/images/member-images/team-member-test.jpg" alt="Caique">
    </div>
    <div class="team-member">
      <h3>Yedi Trindade</h3>
      <p class="member-function">Documentação</p>
      <img src="../../../assets/images/member-images/team-member-test.jpg" alt="Yedi">
    </div>
  </div>
</div>