.mat-sidenav {
  border-radius: 0;
}

.drive-button {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 10px 15px; 
}

.drive-button .sidebar-icon {
  margin-right: 8px;
}

.menu-item {
  display: flex;
  align-items: center;
  padding: 5px 0;
}

.menu-item .sidebar-icon {
  margin-right: 8px; 
}

.menu-text {
  flex: 1;

}

.menu-item.has-children button[mat-icon-button][matTreeNodeToggle] {
  margin-right: 8px; 
}

.menu-item button[mat-icon-button][disabled] {
  display: none;
}

.mat-tree-node {
  transition: padding-left 0.2s ease-in-out;
}

.menu-item:hover {
  background-color: rgba(0, 0, 0, 0.04); 
  cursor: pointer;
}

@media (max-width: 600px) {
  .menu-item {
    padding: 3px 0;
  }

  .sidebar-icon {
    margin-right: 5px;
  }

  .drive-button {
    padding: 8px 10px;
  }
}
