/* src/app/components/sidebar/sidebar.component.css */

/* Remover bordas arredondadas do sidebar */
.mat-sidenav {
  border-radius: 0;
}

/* Estilo para o botão "Meu Drive" */
.drive-button {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 10px 15px; /* Padding ajustado para um layout mais compacto */
}

.drive-button .sidebar-icon {
  margin-right: 8px; /* Espaçamento aumentado para melhor visibilidade */
}

.menu-item {
  display: flex;
  align-items: center;
  padding: 5px 0; /* Reduzido o padding vertical para itens mais próximos */
}

.menu-item .sidebar-icon {
  margin-right: 8px; /* Espaçamento aumentado para melhor visibilidade */
}

.menu-text {
  flex: 1;
  /* Estilos opcionais para o texto */
}

/* Estilo para nós com filhos */
.menu-item.has-children button[mat-icon-button][matTreeNodeToggle] {
  margin-right: 8px; /* Espaçamento ajustado para alinhar o botão de toggle */
}

/* Ocultar o botão de toggle em nós sem filhos */
.menu-item button[mat-icon-button][disabled] {
  display: none;
}

/* Adicionar transição suave para a indentação */
.mat-tree-node {
  transition: padding-left 0.2s ease-in-out;
}

/* Estilo para links ativos ou hover */
.menu-item:hover {
  background-color: rgba(0, 0, 0, 0.04); /* Sutil destaque ao passar o mouse */
  cursor: pointer;
}

/* Responsividade */
@media (max-width: 600px) {
  .menu-item {
    padding: 3px 0;
  }

  .sidebar-icon {
    margin-right: 5px;
  }

  .drive-button {
    padding: 8px 10px;
  }
}
