
<header class="navbar">
    <div class="logo">
        <span class="logo-White">Uni</span><span class="logo-Blue">Note</span>
    </div>
    <nav class="nav-links">
        <a href="home" class="nav-item">Home</a>
        <a href="#" class="nav-item">Sobre</a>
        <a href="#" class="nav-item">Mais</a>
    </nav>
    <div class="auth">
        <app-button name="Entrar" [size]="16" href="login" [backgroundColor]="'var(--color02)'" [borderColor]="'var(--color02)'"/>
        <app-button name="Registrar" [size]="16" [backgroundColor]="'white'" href="register" [color]="'black'" [borderColor]="'var(--color01)'"/>
    </div>
</header>